footer{
    width: 100%;
    text-align: center;
    background-color: #3f50b5;
    color: white;
    padding: 0.8rem 0;
    padding-top: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a{
    margin-left: 1rem;
    color: white;
}